@model IEnumerable<Kbry.Data.Model.Attendance>

@{

}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Klassen.Name)
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Klassen.Name)
        </td>
    </tr>
}

</table>
