@model IEnumerable<Kbry.Data.Model.Attendance>

@{
}
<h2><i class="fa fa-clock-o" aria-hidden="true"></i> Attendances</h2>



<div style="max-width: 300px">
    <h4>Start date</h4>
    @(Html.Kendo().DatePicker()
                      .Name("start")
                      .Value(DateTime.Today)
                      .Max(DateTime.Today)
                      .ParseFormats(new string[] { "MM/dd/yyyy" })
                      .Events(e => e.Change("startChange"))
                      .HtmlAttributes(new { style = "width:100%;" })
    )
    <hr />
    <h4>Start date</h4>
    @(Html.Kendo().DatePicker()
                      .Name("end")
                      .Value(DateTime.Today)
                      .Min(DateTime.Today)
                      .ParseFormats(new string[] { "MM/dd/yyyy" })
                      .Events(e => e.Change("endChange"))
                      .HtmlAttributes(new { style = "width:100%;" })
    )
</div>
<table class="table table-striped table-condensed" id="sortable-table">
    <tr>
        <th onclick="sortTable(0)">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th onclick="sortTable(1)">
            @Html.DisplayNameFor(model => model.Student)
        </th>
        <th onclick="sortTable(2)">
            @Html.DisplayNameFor(model => model.Student.SchoolClass)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.SchoolClass.Name)
            </td>
        </tr>
    }

</table>
<script>
    function startChange() {
        var endPicker = $("#end").data("kendoDateTimePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#start").data("kendoDateTimePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }
</script>