@model Kbry.MVC.ViewModels.StudentViewModel

<div class="forEdit">
    <h3>Edit Student</h3>
    <br />
    @Html.HiddenFor(model => model.Id)
    <div>
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div>
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName)
    </div>
    <div>
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>
    <div>
        @Html.LabelFor(model => model.Email)
    </div>
    <div>
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="demo-section k-content">
        @Html.LabelFor(model => model.SchoolClassName)
        @(Html.Kendo().DropDownList()
              .Name("schoolClasses")
              .DataTextField("Name")
              .DataValueField("Id")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetClasses", "Students");
                  });
              })
              .HtmlAttributes(new { style = "width: 100%" })
              )

    </div>
    <div>
        @Html.LabelFor(model => model.RegistrationCode)
    </div>
    <div>
        @Html.EditorFor(model => model.RegistrationCode)
        @Html.ValidationMessageFor(model => model.RegistrationCode)
    </div>
</div>